data/*.txt
data/*.pickle
data/*.hdf5
data/*.out
data/*.json
data/*.py
data/*.csv
data/*.ckpt
data/*.gz
routes/*
template/*
*.out
set*.ipynb
__pycache__/*
test.ipynb
drawing.ipynb
*.png
*.pdf
*_?.ipynb
evaluate_overlap.py
calc_retrobleu.ipynb